<table class="table table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Avatar</th>
            <th>X</th>
        </tr>
    </thead>
    <tbody>
        <%
        for(var _index=0; _index < users.length; _index++) {
            var _user = users[_index];
        %>
        
        <tr>
            <td><a href="/user/<%=_user.userName%>"><%=_user.userName%></a></td>
            <td><%=_user.firstName%></td>
            <td><%=_user.lastName%></td>
            <td><%=_user.role%></td>
            <td><img src="<%=_user.imageUrl%>" alt="<%=_user.firstName%> <%=_user.lastName%>" class="img-circle" width="50px" height="50px"></td>
            <td>
                <form action='user' method='post'>
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="userName" value="<%=_user.userName%>">
                    <button type="submit" class="btn btn-danger">X</button>
                </form>
            </td>
        </tr>
        <%}%>
    </tbody>
</table>