<table class="table table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <%
        for(var _index=0; _index < users.length; _index++) {
            var _user = users[_index];
        %>
        
        <tr>
            <td><a href="/user/<%=_user.userName%>"><%=_user.userName%></a></td>
            <td><%=_user.firstName%></td>
            <td><%=_user.lastName%></td>
            <td><%=_user.role%></td>
            <td><img src="<%=_user.imageUrl%>" alt="<%=_user.firstName%> <%=_user.lastName%>" class="img-circle" width="50px" height="50px"></td>
        </tr>
        <%}%>
    </tbody>
</table>